/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Скрыть стрелки с числовых полей */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
